.vscode
*.json
*.zip
__pycache__
*.db
*.DS_Store
*.png
*.pyc
data
preprocessing/data
preprocessing/handa-stats

transcription/datasets/edges2shoes
transcription/datasets/7104
transcription/datasets/oracle2transcription
transcription/datasets/rubbing_531
transcription/datasets/rubbing_531_white
transcription/datasets/RT7381

transcription/result
transcription/results
transcription/imgs
transcription/checkpoints

evaluation/result

plot/*.png